#header{
    width: 970px;
}

#internet-logo{
    width: 100px;
    height: 100px;
     display: inline-block;
     margin-bottom: -25px;
}

#internet{
    display: inline-block;
    font-size: 40px;
    margin-bottom: -10px;
}

#title{
    color: white;
    background: #4E78A3;
    font-size: 20px;
    margin-top: 5px;
    padding: 5px;
}

#internet span{
    color: #356599;
}

.left{
    display: inline-block
}

#leftupper{
    width: 200px;
    font-weight: bold;
    display: inline-block;
    margin-bottom: 15px; 
}

#leftupper span{
    color: #356599;
}

#leftupper span1{
    color: red;
}

#button1{
    background: #5380AE;
    color: white;
    width: 200px;
    height: 30px;
    font-size: 14px;
    border-radius: 10px;
}

#button2{
    background: #E1943E;
    color: white;
    width: 200px;
    height: 30px;
    font-size: 14px;
    border-radius: 10px;
    margin-bottom: 15px;
}

#leftlower{
    position: relative;
    width: 200px;
}

#adback{
    width: 200px;
    display: block;
}

#slogan{
    position: relative;
    font-weight: bold;
    text-align: center;
    width: 160px;
    top: -280px;
    left: 20px;
    color: white;
    font-size: 20px;
}

#ninja{
    width: 100px;
    position: relative;
    top: -300px;
    left: 50px;
}

#button3{
    background-color: #68C6DB;
    color: white;
    border-radius: 10px;
    width: 160px;
    height: 30px;
    font-size: 14px;
    top: -300px;
    left: 20px;
    position: relative;
}

.right{
    display: inline-block;
    vertical-align: top;
    width: 700px;
    margin-left: 40px;
}

#rightheader{
    margin-top: 0PX;
    border-bottom: 1px solid black
}

#icon{
    margin-top: -5px;
}

#home{
    width: 20px;
    height: 20px;
    display: inline-block;
}

#dns{
    display: inline;
    color: #6185AD;
}

#phone{
    width: 40px;
    margin-left: 470px;
    margin-top: -25px;
}

#contact{
    display: inline-block;
    vertical-align: top;
    margin-top: -45px;
}

.info{
    font-size: 12px;
    margin-bottom: -30px;
    margin-left: 20px;
}

#num{
    color: #57BFDC;
    font-size: 25px;
    margin-bottom: -15px;
    margin-left: 10px;
}

#rightmiddle{
    width: 700px;
}

.subtitle{
    font-size: 20px;
    color: #57BFDC;
    margin-bottom: -15px;    

}

#rightmiddle span{
    color: #57BFDC;    
}

#rightmiddle span1{
    font-weight: bold;
}

#rightmiddle img{
    width: 200px;
    margin-left: 225px;
    margin-bottom: -15px
}

#bottomright{
    width: 700px;
    border-top: 4px solid #4F95DE;
    border-left: 4px solid #4F95DE;
    border-right: 4px solid #4F95DE;
    padding: 10px;
}

#bottomright img{
    width: 150px;
}

#footer{
    display: inline-block;
    vertical-align: top;
    width: 500px;
    margin-left: 40px;
}

#footer span{
    color: #4F95DE;
}